extends index 

block content 
  .message-container 
    each message in message_list 
      .user-post 
        h1 #{message.title}
        p #{message.body}
        if currentUser && currentUser.member
          h2 #{message.username}
        else
          h2 Anonymous
        h3 #{message.date}